USE [master]
GO
/****** Object:  Database [VideoGameClubDB]    Script Date: 10/12/2025 1:39:23 a. m. ******/
CREATE DATABASE [VideoGameClubDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VideoGameClubDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VideoGameClubDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VideoGameClubDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VideoGameClubDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VideoGameClubDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VideoGameClubDB]
GO
/****** Object:  Table [dbo].[Achievement]    Script Date: 10/12/2025 1:39:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Achievement](
	[AchievementId] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[DateEarned] [date] NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[AchievementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 10/12/2025 1:39:24 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[GameId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Version] [nvarchar](50) NULL,
	[Genre] [nvarchar](50) NULL,
	[Platform] [nvarchar](50) NULL,
	[MinPlayers] [int] NULL,
	[MaxPlayers] [int] NULL,
	[DefaultTournamentMode] [nvarchar](50) NULL,
	[MatchDurationMinutes] [int] NULL,
	[SpecificRules] [nvarchar](max) NULL,
	[DistributionType] [nvarchar](50) NULL,
	[RequiredEquipment] [nvarchar](200) NULL,
	[SoftwareRequirements] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 10/12/2025 1:39:24 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](200) NULL,
	[MembershipTypeId] [int] NULL,
	[JoinDate] [datetime] NULL,
	[RenewalDate] [date] NULL,
	[Status] [int] NULL,
	[SkillLevel] [nvarchar](50) NULL,
	[ClubRole] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipType]    Script Date: 10/12/2025 1:39:24 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipType](
	[MembershipTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[Cost] [decimal](18, 2) NULL,
	[DurationMonths] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MembershipTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 10/12/2025 1:39:24 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[RegistrationId] [int] IDENTITY(1,1) NOT NULL,
	[TournamentId] [int] NOT NULL,
	[MemberId] [int] NOT NULL,
	[RegistrationDate] [datetime] NULL,
	[Rank] [int] NULL,
	[Score] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tournament]    Script Date: 10/12/2025 1:39:24 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tournament](
	[TournamentId] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NOT NULL,
	[TournamentName] [nvarchar](100) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[MaxCapacity] [int] NULL,
	[TournamentFormat] [nvarchar](50) NULL,
	[Prizes] [nvarchar](200) NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TournamentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentRegistration]    Script Date: 10/12/2025 1:39:24 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentRegistration](
	[RegistrationId] [int] IDENTITY(1,1) NOT NULL,
	[TournamentId] [int] NOT NULL,
	[MemberId] [int] NOT NULL,
	[RegistrationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/12/2025 1:39:24 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Game] ON 

INSERT [dbo].[Game] ([GameId], [Title], [Version], [Genre], [Platform], [MinPlayers], [MaxPlayers], [DefaultTournamentMode], [MatchDurationMinutes], [SpecificRules], [DistributionType], [RequiredEquipment], [SoftwareRequirements]) VALUES (1, N'League of Legends', NULL, N'MOBA', N'PC', 1, 4, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Game] ([GameId], [Title], [Version], [Genre], [Platform], [MinPlayers], [MaxPlayers], [DefaultTournamentMode], [MatchDurationMinutes], [SpecificRules], [DistributionType], [RequiredEquipment], [SoftwareRequirements]) VALUES (2, N'Valorant', NULL, N'Shooter Táctico', N'PC', 1, 4, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Game] ([GameId], [Title], [Version], [Genre], [Platform], [MinPlayers], [MaxPlayers], [DefaultTournamentMode], [MatchDurationMinutes], [SpecificRules], [DistributionType], [RequiredEquipment], [SoftwareRequirements]) VALUES (3, N'Counter-Strike 2', NULL, N'Shooter Táctico', N'PC', 1, 4, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Game] OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([MemberId], [FirstName], [LastName], [BirthDate], [Email], [Phone], [Address], [MembershipTypeId], [JoinDate], [RenewalDate], [Status], [SkillLevel], [ClubRole]) VALUES (1, N'Joseph', N'Jones', CAST(N'2025-12-06' AS Date), N'Testeo@gmail.com', N'8096678989', N'Villa Mella #161', 3, CAST(N'2025-12-06T23:33:11.710' AS DateTime), CAST(N'2026-12-06' AS Date), 1, N'Principiante', N'Admin')
INSERT [dbo].[Member] ([MemberId], [FirstName], [LastName], [BirthDate], [Email], [Phone], [Address], [MembershipTypeId], [JoinDate], [RenewalDate], [Status], [SkillLevel], [ClubRole]) VALUES (2, N'Juan', N'Monagas', CAST(N'2004-06-16' AS Date), N'JuanED@hotmail.com', N'809-523-7878', N'Hermanas Mirabal #29', 2, CAST(N'2025-12-07T15:16:55.000' AS DateTime), CAST(N'2026-12-07' AS Date), 1, N'Intermedio', N'Jugador')
INSERT [dbo].[Member] ([MemberId], [FirstName], [LastName], [BirthDate], [Email], [Phone], [Address], [MembershipTypeId], [JoinDate], [RenewalDate], [Status], [SkillLevel], [ClubRole]) VALUES (3, N'Starlyn', N'Castillo', CAST(N'1999-06-11' AS Date), N'Compai@gmail.com', N'849-332-8989', N'Santiago #37', 4, CAST(N'2025-12-07T16:13:44.453' AS DateTime), CAST(N'2026-12-07' AS Date), 1, N'Avanzado', N'Jugador')
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
SET IDENTITY_INSERT [dbo].[MembershipType] ON 

INSERT [dbo].[MembershipType] ([MembershipTypeId], [Name], [Description], [Cost], [DurationMonths]) VALUES (1, N'Estandar', N'Acceso básico al club', CAST(1500.00 AS Decimal(18, 2)), 12)
INSERT [dbo].[MembershipType] ([MembershipTypeId], [Name], [Description], [Cost], [DurationMonths]) VALUES (2, N'Vip', N'Acceso a consolas y beneficios medios', CAST(3000.00 AS Decimal(18, 2)), 12)
INSERT [dbo].[MembershipType] ([MembershipTypeId], [Name], [Description], [Cost], [DurationMonths]) VALUES (3, N'Honorario', N'Miembros fundadores', CAST(0.00 AS Decimal(18, 2)), 12)
SET IDENTITY_INSERT [dbo].[MembershipType] OFF
GO
SET IDENTITY_INSERT [dbo].[Registration] ON 

INSERT [dbo].[Registration] ([RegistrationId], [TournamentId], [MemberId], [RegistrationDate], [Rank], [Score]) VALUES (2, 2, 1, CAST(N'2025-12-07T18:06:14.033' AS DateTime), 0, 0)
INSERT [dbo].[Registration] ([RegistrationId], [TournamentId], [MemberId], [RegistrationDate], [Rank], [Score]) VALUES (3, 3, 2, CAST(N'2025-12-07T18:30:51.543' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[Registration] OFF
GO
SET IDENTITY_INSERT [dbo].[Tournament] ON 

INSERT [dbo].[Tournament] ([TournamentId], [GameId], [TournamentName], [StartDate], [MaxCapacity], [TournamentFormat], [Prizes], [Status]) VALUES (2, 5, N'Street King', CAST(N'2025-12-07T17:29:13.067' AS DateTime), 16, N'8 vs 8', N'15000', 0)
INSERT [dbo].[Tournament] ([TournamentId], [GameId], [TournamentName], [StartDate], [MaxCapacity], [TournamentFormat], [Prizes], [Status]) VALUES (3, 6, N'LTG', CAST(N'2025-12-25T18:29:42.777' AS DateTime), 1, N'1 vs 1', N'250000', 0)
INSERT [dbo].[Tournament] ([TournamentId], [GameId], [TournamentName], [StartDate], [MaxCapacity], [TournamentFormat], [Prizes], [Status]) VALUES (5, 5, N'Copa Street Fighter Inicio', CAST(N'2025-12-15T10:00:00.000' AS DateTime), 32, N'1 vs 1', N'10,000 Pesos + Trofeo', 0)
SET IDENTITY_INSERT [dbo].[Tournament] OFF
GO
SET IDENTITY_INSERT [dbo].[TournamentRegistration] ON 

INSERT [dbo].[TournamentRegistration] ([RegistrationId], [TournamentId], [MemberId], [RegistrationDate]) VALUES (1, 11, 6, CAST(N'2025-12-09T05:12:00.330' AS DateTime))
INSERT [dbo].[TournamentRegistration] ([RegistrationId], [TournamentId], [MemberId], [RegistrationDate]) VALUES (2, 11, 14, CAST(N'2025-12-09T05:12:00.337' AS DateTime))
INSERT [dbo].[TournamentRegistration] ([RegistrationId], [TournamentId], [MemberId], [RegistrationDate]) VALUES (3, 11, 11, CAST(N'2025-12-09T05:12:00.340' AS DateTime))
SET IDENTITY_INSERT [dbo].[TournamentRegistration] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Password]) VALUES (1, N'admin', N'1234')
INSERT [dbo].[Users] ([UserId], [Username], [Password]) VALUES (2, N'Joseph', N'MikuNkn')
INSERT [dbo].[Users] ([UserId], [Username], [Password]) VALUES (5, N'gerente', N'admin123')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Member__A9D105342E819622]    Script Date: 10/12/2025 1:39:24 a. m. ******/
ALTER TABLE [dbo].[Member] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Tournament_Member]    Script Date: 10/12/2025 1:39:24 a. m. ******/
ALTER TABLE [dbo].[Registration] ADD  CONSTRAINT [UQ_Tournament_Member] UNIQUE NONCLUSTERED 
(
	[TournamentId] ASC,
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4AC7F80A5]    Script Date: 10/12/2025 1:39:24 a. m. ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Achievement] ADD  DEFAULT (getdate()) FOR [DateEarned]
GO
ALTER TABLE [dbo].[Game] ADD  DEFAULT ((1)) FOR [MinPlayers]
GO
ALTER TABLE [dbo].[Game] ADD  DEFAULT ((4)) FOR [MaxPlayers]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT ((1)) FOR [MembershipTypeId]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (getdate()) FOR [JoinDate]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT ('Member') FOR [ClubRole]
GO
ALTER TABLE [dbo].[Registration] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Registration] ADD  DEFAULT ((0)) FOR [Rank]
GO
ALTER TABLE [dbo].[Registration] ADD  DEFAULT ((0)) FOR [Score]
GO
ALTER TABLE [dbo].[Tournament] ADD  DEFAULT ((16)) FOR [MaxCapacity]
GO
ALTER TABLE [dbo].[Tournament] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[TournamentRegistration] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Achievement]  WITH CHECK ADD  CONSTRAINT [FK_Achievement_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[Achievement] CHECK CONSTRAINT [FK_Achievement_Member]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_MembershipType] FOREIGN KEY([MembershipTypeId])
REFERENCES [dbo].[MembershipType] ([MembershipTypeId])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_MembershipType]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_Member]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Tournament] FOREIGN KEY([TournamentId])
REFERENCES [dbo].[Tournament] ([TournamentId])
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_Tournament]
GO
ALTER TABLE [dbo].[Tournament]  WITH CHECK ADD  CONSTRAINT [FK_Tournament_Game] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
GO
ALTER TABLE [dbo].[Tournament] CHECK CONSTRAINT [FK_Tournament_Game]
GO
ALTER TABLE [dbo].[TournamentRegistration]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[TournamentRegistration]  WITH CHECK ADD FOREIGN KEY([TournamentId])
REFERENCES [dbo].[Tournament] ([TournamentId])
GO
USE [master]
GO
